<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Board</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let project of projects$ | async">
            <th scope="row">{{ project.name }}</th>
            <td>
                <fa-icon [icon]="faEdit" class="button"></fa-icon>
            </td>
            <td>
                <fa-icon [icon]="faTrash" class="button"></fa-icon>
            </td>
            <td>
                <fa-icon [icon]="faColumns" class="button"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>