<div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Delete project</h6>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Are you sure that you want to delete this project?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modalRef.close(true)">Yes</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef.close(false)">No</button>
</div>