<div class="example-container">
    <h5>New</h5>

    <div id="newList" cdkDropList #newList="cdkDropList" [cdkDropListData]="newIssues$ | async"
        [cdkDropListConnectedTo]="[developList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of newIssues$ | async" cdkDrag (dblclick)="editIssue()">
            <div class="container">
                <div class="row">
                    <h6 class="clamp-1">{{ item.summary }}</h6>
                </div>
                <div class="row">
                    <p class="clamp-3">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="example-container">
    <h5>Development</h5>

    <div id="developList" cdkDropList #developList="cdkDropList" [cdkDropListData]="developIssues$ | async"
        [cdkDropListConnectedTo]="[newList, testList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of developIssues$ | async" cdkDrag (dblclick)="editIssue()">
            <div class="container">
                <div class="row">
                    <h6 class="clamp-1">{{ item.summary }}</h6>
                </div>
                <div class="row">
                    <p class="clamp-3">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="example-container">
    <h5>Test</h5>

    <div id="testList" cdkDropList #testList="cdkDropList" [cdkDropListData]="testIssues$ | async"
        [cdkDropListConnectedTo]="[developList, doneList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of testIssues$ | async" cdkDrag (dblclick)="editIssue()">
            <div class="container">
                <div class="row">
                    <h6 class="clamp-1">{{ item.summary }}</h6>
                </div>
                <div class="row">
                    <p class="clamp-3">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="example-container">
    <h5>Done</h5>

    <div id="doneList" cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneIssues$ | async"
        [cdkDropListConnectedTo]="[testList]" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of doneIssues$ | async" cdkDrag (dblclick)="editIssue()">
            <div class="container">
                <div class="row">
                    <h6 class="clamp-1">{{ item.summary }}</h6>
                </div>
                <div class="row">
                    <p class="clamp-3">{{ item.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>