<p>Issue tracking system, built with:</p>
<ul>
  <li>.Net Core 3.1 Web API</li>
  <li>Entity Framework Core</li>
  <li>C#</li>
  <li>Azure SQL</li>
  <li>Angular 9</li>
  <li>TypeScript</li>
  <li>NgRx</li>
  <li>Bootstrap</li>
  <li>Swagger</li>
  <li>OpenAPI</li>
</ul>
<p><a href="https://github.com/eozgit/quake-track" target="_blank">Click here</a> to see the code on Github</p>
<p><a href="https://app.swaggerhub.com/apis-docs/eozgit/Quake-Track/v10" target="_blank">Click here</a> to see the API
  specs on Swaggerhub</p>
<p>Features:</p>
<ul>
  <li>Local and Google authentication</li>
  <li>CRUD Projects</li>
  <li>CRUD Issues</li>
  <li>Kanban board</li>
</ul>