<p>Issue tracking system, built with:</p>
<ul>
  <li>.Net Core 3.1 Web API</li>
  <li>C#</li>
  <li>Angular 8</li>
  <li>TypeScript</li>
  <li>NgRx</li>
  <li>Bootstrap</li>
  <li>Swagger</li>
  <li>OpenAPI</li>
</ul>
<p>Code is available on <a href="https://github.com/eozgit/quake-track" target="_blank">Github</a></p>
<p>API specs are available on <a href="https://app.swaggerhub.com/apis-docs/eozgit/Quake-Track/v10"
    target="_blank">Swaggerhub</a></p>
<p>Features:</p>
<ul>
  <li>Local and Google authentication</li>
  <li>CRUD Projects</li>
  <li>CRUD Issues</li>
  <li>Kanban board</li>
</ul>